<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="./img/rate-my-cat.png">
    <title>Rate my cat!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="./css/gallery-grid.css">
    <link rel="stylesheet" href="./css/carousel.css">
    <link rel="stylesheet" href="./css/star-rating.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/star-rating.js" type="text/javascript"></script>
</head>

<body>
    <div class="container gallery-container">
        <h1><img src="./img/rate-my-cat.png">Rate my cat!</h1>
        <p class="page-description text-center">Which one do you like more?</p>
        <div class="tz-gallery">
            <div class="row" th:if="${sucessMessage}" id="success">
                <div class="col-xs-12 alert alert-success" th:text="${sucessMessage}">
                </div>
                <script type="text/javascript">
                    $("#success").delay(5000).fadeOut(300);
                </script>
            </div>
            <div class="row" th:if="${errorMessage}" id="error">
                <div class="col-xs-12 alert alert-danger" th:text="${errorMessage}">
                </div>
                <script type="text/javascript">
                    $("#error").delay(5000).fadeOut(300);
                </script>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4" th:each="cat: ${cats}">
                    <a class="lightbox" data-toggle="modal" th:attr="data-target='#dialog'+${cat.id}"><img th:src="@{${'./img/' + cat.pictureFileName}}" th:alt="${cat.name}" th:title="${cat.name}"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center"><small>Mastering JUnit 5 <br>Copyright &copy; Boni Garc&iacute;a 2017</small></div>
            </div>
        </div>
    </div>

    <div th:each="cat: ${cats}" th:id="|dialog${cat.id}|" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><span th:text="${cat.name}"></span> <img th:src="@{${'./img/stars-' + cat.getHalfRoundedAverageRate() + '.png'}}" th:title="|Averge rate of ${cat.name} ${cat.getAverageRate()}|"></h2>
                </div>
                <div class="modal-body"> <img class="img-responsive img-thumbnail" th:src="@{${'./img/' + cat.pictureFileName}}" th:alt="${cat.name}" th:title="${cat.name}">
                    <form th:id="|form${cat.id}|" role="form" class="form-inline" th:action="@{/}" method="post" th:with="inCookies=${cat.inCookies}">
                        <input id="catId" name="catId" type="hidden" th:value="${cat.id}">

                        <input th:if="${inCookies}" id="stars" name="stars" class="rating rating-loading" data-show-clear="false" data-show-caption="true" th:value="${cat.getOpinionsInCookies().getHalfRoundedStars()}" disabled>
                        <input th:unless="${inCookies}" id="stars" name="stars" class="rating rating-loading" data-show-clear="false" data-show-caption="true">

                        <h4 th:if="${inCookies}" th:text="${cat.getOpinionsInCookies().getComment()}"></h4>
                        <input th:unless="${inCookies}" id="comment" name="comment" type="text" class="form-control" th:placeholder="|Your comments about ${cat.name}|">

                        <button th:unless="${inCookies}" type="submit" class="btn btn-success">Send vote &nbsp; <span class="pull-right"><span class="glyphicon glyphicon-hand-right"></span></span></button>
                    </form>
                    <br>
                    <div th:if="${cat.getOpinionsSize() > 0}" th:id="|carousel${cat.id}|" class="carousel slide" data-ride="carousel">
                        <h4 th:text="|Other opinions about ${cat.name}|"></h4>
                        <div class="carousel-inner">
                            <div th:each="opinion, it: ${cat.opinions}" th:class="${it.index == 0} ? 'item active' : 'item'" th:unless="${opinion.isInCookies()}">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="thumbnail adjust1">
                                            <div class="col-xs-12">
                                                <div class="caption text-center">
                                                    <p class="text-info lead adjust2"><img th:src="@{${'./img/stars-' + opinion.getHalfRoundedStars() + '.png'}}"></p>
                                                    <p th:text="${opinion.comment}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" th:href="|#carousel${cat.id}|" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> </a>
                        <a class="right carousel-control" th:href="|#carousel${cat.id}|" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span> </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>